<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Course Registration</title>
				
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	</head>
	<body>
		<div class="container" align = "left left-justified">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2>Course Registration</h2>
				</div>
						
				<div class="panel-body">
					
					<div class="jumbotron">
						<form action="{{ action }}" method="POST">
						{% csrf_token %}
							{% if subject_form.non_field_errors %}
								<ul>
									{% for error in subject_form.non_field_errors %}
							    		<li>{{ error }}</li>
							    	{% endfor %}
							    </ul>
							{% endif %}
							<table class="table table-striped">
								{% for field in subject_form %}
									<tr>
									<div class="row" align = "left" id="{{ field.auto_id }}_container">
										<div class="row" align = "left" id="{{ field.auto_id }}_container">
										<th>
										<div  id="{{ field.auto_id }}_label_tag">
										    {{ field.label_tag }} 
										</div>
										</th>
										<td>

										<div id="{{ field.auto_id }}_field">
											{{ field }}
										</div>

										<div id="{{ field.auto_id }}_errors">
											{{ field.errors }}
										</div>
										{{ field.help_text }}
										</td>
										</div>	
									</div>	
									</tr>
								{% endfor %}
							</table>

							<input id="save_course" type="submit" value="Save" />
					</form>
				</div>
			</div>

				<div class="panel-footer">
					<p>College Management System</p>
				</div>

			</div>






	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	      	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

</html>