<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Student Profile</title>
				
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	</head>
	<body>
		<div class="container" align = "left left-justified">
			<div class="panel panel-info">
				<div class="panel-heading">

					<h2>Student Profile</h2>
				</div>
						
				<div class="panel-body">
					<th>{{context.first_name}}</th>
					<th>{{context.last_name}}</th>
					
					<th>{{context.username}}</th>
					<th>{{context.email}}</th>
					<th>{{context.age}}</th>
					<th>{{context.housename}}</th>
					<th>{{context.place}}</th>					
				</div>
				<div class="panel-footer">
					<p>College Management System</p>
				</div>
			</div>
			
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	      	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>

</html>